<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mp.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="13" 
        android:targetSdkVersion="19"/>

    <permission
        android:name="com.android.im.permission.IM_SERVICE"
        android:description="@string/perm_desc"
        android:label="@string/perm_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />
     <application
        android:name="com.mp.android.BaseApplication"
        android:persistent="true"
        android:process="com.mp.android.im" 
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.mp.android.ui.Welcome"
            android:label="@string/app_name"

            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mp.android.ui.Welcome_Guide"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.ui.Auth"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.ui.DesktopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mp.android.newsfeed.NewsFeedPublish"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosCommentsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosAddCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosEdit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosEditChooseAlbum"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosCreateAlbum"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.photos.PhotosUpload"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name="com.mp.android.selectfriends.SelectFriends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.selectfriends.SelectGroup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.user.FriendPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.chat.ChatInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name="com.mp.android.friends.FriendsFind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.friends.FriendsFindSearch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.friends.UserFriends"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.friends.UserFriendsSelect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.groups.GroupMembers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.comments.NoticeComments"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.register.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.meeting.MeetingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.meeting.MeetingInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.question.QuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.question.QuestionInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.blog.Blog"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.blog.BlogComments"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.blog.BlogAddCommment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.blog.BlogPublish"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name="com.mp.android.location.NearBy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.location.NearByWeb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.location.CurrentLocation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.settings.Settings"
            android:label="选项"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme" >
        </activity>

		<service  
		    android:name="com.mp.android.statusnet.service.Version"  
		    android:enabled="true" >   
		</service>  

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- add by xiaosong for statusnet -->
        <activity
            android:name="com.mp.android.statusnet.activity.BasicAuthLogin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.MustardUser"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.MustardSearch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.MustardTag"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.MustardGroup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.MustardUpdate"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.AccountSettings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.Settings"
            android:screenOrientation="portrait" >
        </activity>
	 <activity
            android:name="com.mp.android.statusnet.activity.VersionInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.GlobalSettings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.Login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.user.GroupPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.statusnet.activity.AccountManage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.poll.PollCreateInterface"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name="com.mp.android.poll.PollHandleAndResult"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.im.IMChatInterface"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="com.mp.android.action.CHATINTERFACE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mp.android.note.ui.NoteEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/text_note" />
                <data android:mimeType="vnd.android.cursor.item/call_note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT_OR_EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/text_note" />
                <data android:mimeType="vnd.android.cursor.item/call_note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <receiver
            android:name="com.mp.android.widget.NoteWidgetProvider_2x"
            android:label="@string/app_widget2x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.PRIVACY_MODE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x_info" />
        </receiver>
        <receiver
            android:name="com.mp.android.widget.NoteWidgetProvider_4x"
            android:label="@string/app_widget4x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.PRIVACY_MODE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x_info" />
        </receiver>
        <receiver android:name="com.mp.android.ui.AlarmInitReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mp.android.note.ui.AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <activity
            android:name="com.mp.android.note.ui.AlarmAlertActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mp.android.note.ui.NotesPreferenceActivity"
            android:label="@string/preferences_title"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.mp.android.note.ui.NotesListActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light" >
        </activity>
        
         <activity
            android:name="com.mp.android.note.ui.ShowAttachmentView"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <service
            android:name="com.mp.android.note.gtask.remote.GTaskSyncService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.NoteEditActivity" />

        <activity
            android:name="com.mp.android.im.SelectContact"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="com.mp.android.im.action_SELECT_CONTACT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mp.android.im.IMFriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mp.android.selectfriends.SelectImFriend"
            android:screenOrientation="portrait" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.im.permission.IM_SERVICE" />

</manifest>
